@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    color: hsl(0, 0%, 100%);
}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialCard{
    width: 100%;
    max-width: 340px;
    background-color: hsl(0, 0%, 12%);
    padding: 30px;
    border-radius: 10px;
}

.persDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jessImg{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 24px;
}
.name{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
}
.location{
    font-size: 12px;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin-bottom: 24px;
}
.bioText{
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 80%);
    margin-bottom: 24px;
}
.socialLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.socialLinks a{
    width: 100%;
    padding: 12px;
    display: block;
    text-decoration: none;
    background-color:hsl(0, 0%, 20%);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

.socialLinks a:hover{
    color: hsl(0, 0%, 8%);
    background-color:hsl(75, 94%, 57%);
}